# Игнорировать папки сборки и временные файлы
[Bb]in/
[Oo]bj/

# Файлы, генерируемые Visual Studio
.vs/
*.user
*.suo

# Файлы настроек, специфичные для системы 
*.sln.docstates

# Логи и файлы временных выводов
*.log
*.tlog
*.tmp

# Файлы NuGet
*.nupkg
# Папка для глобальных пакетов NuGet (при необходимости)
.nuget/

# Папка автоматической сборки CI/CD
TestResults/

# Файлы личных настроек IDE и редакторов
*.vsconfig
*.vscode/

# Файлы Cache
_ReSharper*/
*.resharper
*.DotSettings.user

# Другие временные файлы (например, если используются пакеты GIT LFS)
*.cache
